<template>
  <div id="app">
    <select v-model="selected" @change="changeBusId()">
      <option value="null" disabled selected>Selecione um autocarro</option>
      <option v-for="option in options" v-bind:value="option.value" :key="`option-${option.value}`">
        {{ option.text }}
      </option>
    </select>
    <br>
    <br>
    <div v-if="selected">
      <button v-if="!sending" @click="startLocationWatcher()">Start Sending</button>
      <button v-else @click="stopLocationWatcher()">Stop Sending</button>
      <br>
      <br>
      Localização enviada {{ sent }} vezes.
    </div>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      selected: null,
      options: [
        { text: "Autocarro 1", value: 1 },
        { text: "Autocarro 2", value: 2 },
        { text: "Autocarro 3", value: 3 },
        { text: "Autocarro 4", value: 4 }
      ],
      coordinates: {
        latitude: null,
        longitude: null,
        accuracy: null
      },
      watchId: null,
      sending: false,
      sent: 0
    };
  },
  methods: {
    changeBusId() {
      this.$socket.emit(
        "addBus",
        { bus: this.selected, secret: "OLD_SECRET" },
        response => {
          console.log("Added bus: " + response); // eslint-disable-line no-console
        }
      );
    },
    stopLocationWatcher() {
      window.navigator.geolocation.clearWatch(this.watchId);
      this.watchId = null;
      this.sending = false;
    },
    startLocationWatcher() {
      this.watchId = window.navigator.geolocation.watchPosition(
        this.success,
        this.error,
        {
          enableHighAccuracy: true,
          timeout: 5000,
          maximumAge: 0
        }
      );
      this.sending = true;
    },
    success(pos) {
      this.coordinates.latitude = pos.coords.latitude;
      this.coordinates.longitude = pos.coords.longitude;
      this.coordinates.accuracy = pos.coords.accuracy;
      this.$socket.emit("updateLocation", this.coordinates);
      this.sent++;
    },
    error(err) {
      console.warn("ERROR(" + err.code + "): " + err.message); // eslint-disable-line no-console
    }
  }
};
</script>

<style>
</style>
